/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
      
  background-color: #cbcbcb; 
  font-family: 'Lato', sans-serif;
  font-weight:400;
  font-size:16px;
  line-height: 1.6; 
  text-align: center;
}

 .header {
 
  padding-right: 50px;
  text-align: right;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 50% 50%;
	grid-template-columns: 50% 50%;
  background-color: #fff;
  font-size:20px;
  margin: auto;
  max-width: 100%;
}

.header_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 5px;
}

.header__item:last-child {
  -webkit-box-flex: 1;
      
          flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style: none;
  padding-top: 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px; 
  
} 

.work-image {
    width: 600px;
}
    }

li {
  display: inline-block;
  padding-left: 10px;
}


.profile {
  max-width: 700px;
  margin: 0 auto;
}

/* 
.intro {
  float: right;
  
}
*/

main {
  padding-top: 50px;
  padding-bottom: 200px;
  text-align: center;
}

h1 {
    font-size:30px;
    font-weight:700;
    text-align: center;
  }
  
  h2 {
    font-size:20px;
    font-weight:400;
    text-align: center;
  }
  
h3 {
  font-size:20px;
  font-weight:400;
}

  p {
    font-size:18px;
    font-weight:400;
    text-align: center;
  }

a  {
  color: blue; 
  }
  
a:visited {
    /* visited link */
    color: #489c79;
  }

a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
  }
  
a:active {
    /* selected link */
    color: #489c79;
  }

  about-me {
    text-align: center; 
  }

  .about-me-list{
     display: list-item;
     list-style: none;
     padding-bottom: 5px;
     padding-right: 45px;
     font-weight:700;
  }

table {
 margin: 0 auto;
}

th {
    background-color: #fff;
    padding: 10px;
    border: 10px; 
    
  }

td {
    background-color: #fff;
    padding: 10px;
    border: 10px; 
    
  }


.grid {
    
  display: -ms-grid;
    
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
   
  }
/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
 }
 /* end grid fallback */
 
 @supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
 
  }
  .grid__item {
    background-color: #fff; 
    width: auto;
    min-height: auto;
    margin: 0;
  }
 }


  hr {
    border: 0;
    height: 3px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }

footer {
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
  background-color: #fff;
 
}

.contact-form {
  text-align: center; 
}

.button {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* style button */
  background-color: #357b70;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
  
}

button {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* style button */
  background-color: #357b70;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
  
}

button:hover {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  background-color: #fff;
  color: #357b70;
  font-weight:bold;
}

button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  background-color: #fff;
  color: #357b70;
  font-weight:bold;
}

.button:hover {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  background-color: #fff;
  color: #357b70;
  font-weight:bold;
}

.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  background-color: #fff;
  color: #357b70;
  font-weight:bold;
}

#profile-picture {
	border-radius: 25%;
	height: 200px;
	width: auto;
	        box-shadow: 0 4px 6px 0 rgba(16, 18, 17, 0.246);
	-webkit-transition: all ease-in-out;
	-o-transition: all ease-in-out;
	transition: all ease-in-out;
     
 }
#profile-picture:hover{
	        box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.60);
}


  button {
    /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  color: #357b70;
  color: #fff;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	
}

button:hover, button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
  }
  
  @media all and (max-width: 750px){
    /* shared code */
  }

  @media all and (max-width: 500px) {
    .grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  }
  @media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      -ms-grid-columns: 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }
  @media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size:22px;
    }
  }

 
 #path1244, #path1304, #path1246, #path1162, #path1200, #path1252, #path1308, #path1310, #path1250, #path1248,
 #path1256, #path1258, #path1260, #path1262, #path1264, #path1266, #path1268, #path1270, #path1314, #path1272,
 #path1316, #path1274, #path1318, #path1276, #path1320, #path1278, #path1254, #path1240, #path1242, #path1296, 
 #path1298, #path1280, #path1298, #path1282, #path1284, #path1286, #path1288, #path1290, #path1292, #path1322, 
 #path1324, #path1294, #path1326, #path1300, #path1328, #path1302, #path1306, #path1164, #path1166, #path1168,
 #path1170, #path1186, #path1190, #path1192, #path1196, #path1198, #path1194, #path1188, #path1202, #path1206,
 #path1204, #path1224, #path1208, #path1226, #path1228, #path1230, #path1232, #path1234, #path1236  
 {
    -webkit-animation: 5s bus-move infinite linear;
            animation: 5s bus-move infinite linear;
    animation-direction: reverse;
    
  }

  @-webkit-keyframes bus-move {
    from {
      -webkit-transform: translate(-8000px, 0);
              transform: translate(-8000px, 0);
    }
    
  }

  @keyframes bus-move {
    from {
      -webkit-transform: translate(-8000px, 0);
              transform: translate(-8000px, 0);
    }
    
  }

  #path30 {
    -webkit-animation: 10s color-change infinite linear;
            animation: 10s color-change infinite linear;
  }

  @-webkit-keyframes color-change {
    0% {
      fill: #fefde5;
    }
    50% {
      fill: #3d4036;
    }
    100% {
      fill: #160e0e;
    }
  }

  @keyframes color-change {
    0% {
      fill: #fefde5;
    }
    50% {
      fill: #3d4036;
    }
    100% {
      fill: #160e0e;
    }
  }